@page "/counter"
@using CommunityToolkit.Maui.Views

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="OpenPage">打开Maui Page</button>
<button class="btn btn-primary" @onclick="OpenPopup">打开Maui Popup</button>

@code {
    private int currentCount = 0;
    private string resultValue;

    private void OpenPage()
    {
        currentCount++;
        App.Current.MainPage.Navigation.PushModalAsync(new MauiPages.MauiPage());
    }

    private async void OpenPopup()
    {


      await App.Current.MainPage.ShowPopupAsync(new MauiPages.MauiPopupPage());
        // resultValue = result.ToString();
        // StateHasChanged();
        
    }

}
